@using MyIMDB.Common
@model MyIMDB.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <div class="col col-md-4 offset-md-4">
        <p>We have:</p>
        <ul class="list-group">
            <li class="list-group-item bg-info">Movies: @Model.MoviesCount</li>
            <li class="list-group-item bg-light">Actors: @Model.ActorsCount</li>
            <li class="list-group-item bg-info">Genres: @Model.GenresCount</li>
            <li class="list-group-item bg-light">PgRatings: @Model.PgRatingsCount</li>
        </ul>
    </div>   
</div>
